/******
ANIMIX styles
Author: Nicole Oliver nixallover@gmail.com
Created: 10/14 or something like that

******/
/*** VARIABLES ***/
/*** VARIABLES ***/
/* partier for testing */
.partier {
  -webkit-animation-name: jump;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  border: dotted 1px #253a4e;
  display: inline-block;
  height: 150px;
  margin-top: 30px;
  margin-right: 3px;
  padding-top: 25px;
  width: 70px;
  vertical-align: bottom; }
  .partier .partier-head,
  .partier .partier-torso,
  .partier .partier-butt {
    border: dotted 1px #253a4e;
    height: 70px;
    width: 70px;
    margin-top: -25px;
    position: relative;
    overflow: hidden; }
  .partier .partier-head {
    z-index: 5;
    -webkit-animation-name: bob;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate; }
    .partier .partier-head.animal-1 {
      background: url(../../img/dance/4a.png); }
  .partier .partier-torso {
    z-index: 4; }
    .partier .partier-torso.animal-2 {
      background: url(../../img/dance/2b.png); }
  .partier .partier-butt {
    margin-top: -29px;
    z-index: 3; }
    .partier .partier-butt.animal-3 {
      background: url(../../img/dance/anim1-3c.png);
      -webkit-animation: spriteLoop 0.7s steps(4) infinite; }

@-webkit-keyframes spriteLoop {
  from {
    background-position: 0px; }

  to {
    background-position: -280px; } }
@-webkit-keyframes jump {
  from {
    -webkit-transform: translateY(0px); }

  to {
    -webkit-transform: translateY(10px); } }
@-webkit-keyframes bob {
  from {
    -webkit-transform: rotate(-10deg); }

  to {
    -webkit-transform: rotate(10deg); } }
/*** BASIC ELEMENTS ***/
body {
  background-color: #294259;
  color: #c7e0df;
  font-family: "Droid Sans", sans-serif; }
  body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

hr {
  border-top: solid 3px #2d4f6e; }

a {
  color: #c7e0df; }
  a:hover {
    color: #d6ebea; }

h1 {
  color: #f96d48;
  font-family: "Bowlby One SC", sans-serif;
  letter-spacing: .3em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center; }

h2 {
  color: #d3462a;
  font-family: "Bowlby One SC", sans-serif;
  letter-spacing: .3em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center; }

/*** LAYOUT ***/
.container {
  max-width: 550px; }

.major-panel {
  background-color: #2d4f6e;
  display: table;
  margin: 0;
  margin-top: -30px;
  padding: 25px;
  position: relative;
  width: 100%;
  border-radius: 6px; }

#game-container {
  padding: 0; }

/*** COMPONENTS ***/
.btn {
  border-radius: 6px;
  color: white; }

/*** MAIN MENU ***/
#main-menu {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0; }
  #main-menu li {
    display: block;
    font-size: 2em;
    margin: 0;
    padding: 7px;
    text-align: center; }

#panel-roundPause {
  background-color: #2d4f6e;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1041;
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0; }

#btn-roundPause {
  background-color: #f96d48;
  border: 0;
  border-radius: 0;
  border-bottom-left-radius: 6px;
  position: absolute;
  padding: 5px 15px;
  right: 0;
  top: 10px; }

#btn-roundUnpause {
  background-color: #f96d48;
  border-radius: 6px;
  border: 0;
  display: block;
  font-size: 125%;
  margin: 10px auto;
  padding: 15px 25px;
  position: relative; }

#scoreboard {
  background-color: #253a4e;
  border-top: solid 4px #50babc;
  box-sizing: border-box;
  display: block;
  padding: 15px;
  min-height: 40px; }

#debug-status {
  max-width: 600px;
  overflow: hidden; }

#grid {
  padding: 10px;
  display: table;
  width: 100%; }
  #grid .grid-row {
    display: table;
    width: 100%; }

.tile {
  box-sizing: border-box;
  display: inline-block;
  height: 20%;
  padding: 3px;
  vertical-align: top;
  width: 20%; }
  .tile:after {
    content: "";
    clear: both;
    display: table; }
  .tile.selected {
    padding: 0; }
    .tile.selected > .part {
      opacity: 1; }
  .tile > .part {
    border: solid 2px transparent;
    height: auto;
    max-width: 100%;
    opacity: 0.8; }

#popup-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 300px;
  z-index: 1040;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; }
  #popup-container #popup {
    background-color: #50babc;
    color: white;
    display: block;
    font: 50px "Bowlby One SC", sans-serif;
    min-height: 130px;
    line-height: 50px;
    margin: 30px auto;
    padding: 40px 30px;
    text-align: center;
    vertical-align: text-center;
    width: 300px; }
    #popup-container #popup p {
      display: none; }

#floor {
  background-color: #2d4f6e;
  box-sizing: border-box;
  display: block;
  padding: 15px;
  padding-top: 30px;
  height: 250px;
  overflow: hidden; }
