extends layout

block content
    #mobile-container.container
        h1= pageTitle
        p= description

        h2 This page will eventually have:
        ul
            li party animals hosted
            li player achievements
            li venues and animal packs

    include ./footer.jade