extends layout

block content
	h1= title

	#game-container.outlined
		#scoreboard.outlined
			#status.outlined
				.row
					.col-xs-6
						p 
							strong Score: 
							span#score-log
						p 
							strong Moves: 
							span#moves-log

					.col-xs-6
						p 
							strong Player: 
							span#player-name
		#grid.outlined
			each rowIndex in [1,2,3,4,5]
				.grid-row
					each colIndex in [1,2,3,4,5]
						.tile(data-row=rowIndex,data-column=colIndex)
		#debug-scoreboard.outlined
			#debug-status.outlined