extends layout

block content
	h1= title

	#game-container.outlined
		#scoreboard.outlined
			#status.outlined
				.row
					.col-xs-4
						p 
							strong Score: 
							span#log-score
						p 
							strong Moves: 
							span#log-moves

					.col-xs-4
						p 
							strong Combos: 
							span#log-combos
						p 
							strong Solids: 
							span#log-solids

					.col-xs-4
						p 
							strong Originals: 
							span#log-originals
						p 
							strong Duplicates: 
							span#log-duplicates


		#grid.outlined
			each rowIndex in [1,2,3,4,5]
				.grid-row
					each colIndex in [1,2,3,4,5]
						.tile(data-row=rowIndex,data-column=colIndex)

		#debug-scoreboard.outlined
			strong Animals created: 
			span#debug-status.outlined