doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title Animix | #{pageTitle}

        //- favicon
        link(rel='icon', type='image/png', href='/img/animix-favicon.png')

        block css
            link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
            link(rel='stylesheet', href='/components/animate-css/animate.min.css')
            link(rel='stylesheet', href='/styles/css/main.css')
            //- link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Chewy')
            link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Bowlby+One+SC')

            link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Bowlby+One+SC')


    body
        .container
            h1= pageTitle
            p= description

            block content

    block js
        //- libs
        script(src='http://localhost:35729/livereload.js')
        script(src='/components/jquery/dist/jquery.min.js')
        script(src='/components/underscore/underscore-min.js')
        script(src='http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')

        //- util
        script(src='/scripts/game/util.js')

        //- classes
        script(src='/scripts/game/classes/Player.js')
        script(src='/scripts/game/classes/Round.js')
        script(src='/scripts/game/classes/Move.js')
        script(src='/scripts/game/classes/Timer.js')

        //- other
        script(src='/scripts/game/ui.js')
        script(src='/scripts/game/variables.js')
        script(src='/scripts/game/statsMgr.js')
        script(src='/scripts/game/menuMgr.js')
        script(src='/scripts/game/floorMgr.js')
        script(src='/scripts/game/gridMgr.js')
        script(src='/scripts/game/tileMgr.js')

        //- init

        script(src='/scripts/game/init.js')
