extends layout

block content
    #mobile-container.container
        h1= pageTitle
        ul#main-menu
            each item in menu
                li
                    a(href=item.url,title=item.description)= item.title