extends layout

block content
    #mobile-container.container
        h1= pageTitle
        p= description

        .partier
            .partier-head.cat
            .partier-torso.cham
            .partier-butt.pig

    include ./footer.jade